---
layout: archive
title: "Elicitation Resources"
permalink: /resources/
author_profile: true
---

<!--{% include base_path %}
-->

<p>I create a lot of illustrations and stories for my own elicitation sessions. Why not share them? (Coming soon.)</p>

<!--<p><b>Disclaimers:</b> 1) I am not an artist; 2) these were designed for particular languages and language contexts and may not be right for the community you're working with. Feel free to copy with your own style or specifics. Credit wherever you think appropriate.</p>-->

<!-- {% for post in site.talks %} -->
<!-- {% include archive-single.html %} -->
<!-- {% endfor %} -->
